<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
    <ion-button slot="end" [routerLink]="['/add-friend']">+</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Input Items -->
<ion-list>
  <ion-item *ngFor="let friend of friends">
    <ion-label>{{ friend.name }}</ion-label>
    <ion-button [routerLink]="['/about-friend', friend.id]" routerLinkActive="router-link-active" >View</ion-button>
    <ion-button [routerLink]="['/edit-friend', friend.id]">Edit</ion-button>
  </ion-item>
</ion-list>
</ion-content>
