<ion-header>
  <ion-toolbar>
    <ion-title>Friends</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-friend']">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Input Items -->
<ion-list>
  <ion-item *ngFor="let friend of friends">
    <ion-label [routerLink]="['/about-friend', friend.id]">{{ friend.name }}</ion-label>
    <ion-buttons>
      <ion-button [routerLink]="['/edit-friend', friend.id]" >
        <ion-icon slot="start" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
</ion-content>
