<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About The Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="title">
      <h1>Final Assignment Ionic</h1>
      <h1>Scavenger Hunt</h1>
    </div>

    <div class="body">
      <h2 class="members">Group Memembers</h2>
      <ion-list lines="none" class="names">
        <ion-item>
          <ion-label class="text">Simon Bermudez</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text">Max Grossman</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text">Armen Levon</ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
