<ion-header>
  <ion-toolbar>
    <ion-title>Missions</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-mission']">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="search" (ngModelChange)="searchMissions()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let mission of searchedMissions">
      <ion-label [routerLink]="['/mission', mission.id]">{{ mission.name }}</ion-label>
      <ion-buttons>
        <ion-button  (click)="share(mission)" routerLinkActive="router-link-active" >
          <ion-icon slot="start" name="share"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
