<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{ mission | json }}
  <ion-row>
    <ion-col>
      <ion-button *ngIf="mission" [routerLink]="['/edit-mission', mission.id]" routerLinkActive="router-link-active" expand="block">Edit</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="deleteMission(mission.id)" color="danger" expand="block" expand="block">Delete</ion-button>
    </ion-col>
  </ion-row>  
</ion-content>
