<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center" >
  
  <ng-container *ngIf="loading then spinner else card">
  </ng-container>
  
</ion-content>


<ng-template #card>
  
  <div #map id="map"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{mission.name}}</ion-card-title>
      <ion-card-subtitle>Lat: {{mission.location.latitude | number}} - Long: {{mission.location.longitude | number}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
      <!-- Tasks -->
      <ion-card *ngIf="mission.tasks">
        <ion-card-header>
          <ion-card-title>Tasks</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         {{mission.tasks}}
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="mission.tags.length">
        <ion-card-header>
          <ion-card-title>Tags</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let tag of mission.tags">
              <ion-label color="primary">{{tag}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col>
           <ion-button (click)="getCurrentLocation()">Navigate</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="mission" [routerLink]="['/edit-mission', mission.id]" routerLinkActive="router-link-active" color="medium" expand="block">Edit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="deleteMission(mission.id)" color="light" expand="block" expand="block">Delete</ion-button>
        </ion-col>
      </ion-row>  
     
    </ion-card-content>
  </ion-card>

  

</ng-template>

<ng-template #spinner>
  <div class="center">
    <ion-spinner name="lines" class="spinner"></ion-spinner>
  </div>
</ng-template>