ion-card, ion-label {
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;

}
.spinner{
    margin-top: 50%;
}

#map{
    height: 50%;
    margin: 15px;
    border: 1px solid black
}