<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>edit-mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="missionForm" [formGroup]="missionForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Latitude</ion-label>
      <ion-input type="number" formControlName="latitude"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Longitude</ion-label>
      <ion-input type="number" formControlName="longitude"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Tasks</ion-label>
      <ion-textarea formControlName="tasks"></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Tags (comma separated)</ion-label>
      <ion-textarea formControlName="tags"></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Rating</ion-label>
      <ion-input type="number" formControlName="rating"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="warning" expand="block">Edit Mission</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
